<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Camagru</title>
    <link rel="stylesheet" href="public/css/normalize.css">
    <link rel="stylesheet" href="public/css/style.css">

    <script defer src="public/js/main.js"></script>
</head>

<body>
    <div class="page">

    <header class="header">
        <div class="header__container">
            <button class="header__burger-btn" id="burger">
                <span></span><span></span><span></span>
            </button>
            <div class="header__item headerlogo">
                <img src="public/img/logo_icon2.png" id="logo_icon">
                CAMAGRU
            </div>

            <nav class="menu">
                <ul class="menu__list">
                {% if getUser() %}
                    <li class="menu__item">
                        <div class="header__item headerButton">
                            <a class="menu__link" href="#">
                                GALLERY
                            </a> 
                        </div>
                    </li>
                    <li class="menu__item">
                        <div class="header__item headerButton">
                            <a class="menu__link" href="{{ route({'name':'profile'}) }}">
                                {{ getUser().user_name }}
                            </a> 
                        </div>
                    </li>
                    <li class="menu__item">
                        <div class="header__item headerButton">
                            <a class="menu__link" href="#">
                                SETTING
                            </a> 
                        </div>
                    </li>
                    <li class="menu__item">
                        <div class="header__item headerButton">
                            <a class="menu__link" href="{{ route({'name':'logout'}) }}">
                                SIGN OUT
                            </a> 
                        </div>
                    </li>
                {% else %}
                    <li class="menu__item">
                        <div class="header__item headerButton">
                            <a class="menu__link" href="{{ route({'name':'login'}) }}">
                                SIGN IN
                            </a> 
                        </div>
                    </li>
                    <li class="menu__item">
                        <div class="header__item headerButton">
                            <a class="menu__link" href="{{ route({'name':'register'}) }}">
                                SIGN UP
                            </a> 
                        </div>
                    </li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

    <div class="footer">
            © 2022, The Camagru Project
    </div>

    </div>
</body>

</html>