<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Camagru</title>
    <link rel="stylesheet" href="http://localhost/The-Camagru-Project/public/css/normalize.css">
    <link rel="stylesheet" href="http://localhost/The-Camagru-Project/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

    <script defer src="http://localhost/The-Camagru-Project/public/js/main.js"></script>
    <script defer src="http://localhost/The-Camagru-Project/public/js/snapshot.js"></script>
    <script src="https://kit.fontawesome.com/600e38d2f0.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="page">

    <header class="header">
        <div class="header__container">
            <button class="header__burger-btn" id="burger">
                <span></span><span></span><span></span>
            </button>
            <div class="header__item headerlogo headerButton">
                <img src="http://localhost/The-Camagru-Project/public/img/logo_icon.png" id="logo_icon">
                <a class="menu__link" href="{{ route({'name':'home'}) }}" style="display: inline">
                    CAMAGRU
                </a>
            </div>

            <nav class="menu">
                <ul class="menu__list">
                {% if getUser() %}
                    <li class="menu__item">
                        <div class="header__item headerButton">
                            <a class="menu__link" href="{{ route({'name':'edited_images.index'}) }}">
                                GALLERY
                            </a> 
                        </div>
                    </li>
                    <li class="menu__item">
                        <div class="header__item headerButton">
                            <a class="menu__link" href="{{ route({'name':'profile'}) }}">
                                {{ getUser().user_name }}
                            </a> 
                        </div>
                    </li>
                    <li class="menu__item">
                        <div class="header__item headerButton">
                            <a class="menu__link" href="{{ route({'name':'settings'}) }}">
                                SETTINGS
                            </a> 
                        </div>
                    </li>
                    <li class="menu__item">
                        <div class="header__item headerButton">
                            <a class="menu__link" href="{{ route({'name':'logout'}) }}">
                                SIGN OUT
                            </a> 
                        </div>
                    </li>
                {% else %}
                    <li class="menu__item">
                        <div class="header__item headerButton">
                            <a class="menu__link" href="{{ route({'name':'login'}) }}">
                                SIGN IN
                            </a> 
                        </div>
                    </li>
                    <li class="menu__item">
                        <div class="header__item headerButton">
                            <a class="menu__link" href="{{ route({'name':'register'}) }}">
                                SIGN UP
                            </a> 
                        </div>
                    </li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

    <div class="footer">
            © 2022, The Camagru Project
            <br>
            Developed with <i class="fa-solid fa-hand-holding-heart"></i> by Oleksii Krasnolutskyi
    </div>

    </div>
</body>

</html>